<mat-expansion-panel class="expansion-panel">
  <mat-expansion-panel-header class="expansion-panel-header">Categorías</mat-expansion-panel-header>
  <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let category of categories" [value]="category.categoryId" class="list-option"  (click)="onShowCategory(category.categoryId)">
          {{category.name}}
      </mat-list-option>
      <mat-list-option value="" class="list-option mdc-list-item__primary-text"  (click)="onShowCategory(0)">
          Todas
      </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel>
