<div class="form-container">
  <form (ngSubmit)="onEdit()">
    <div class="form-group">
      <label for="id">Código</label>
      <input type="text" class="form-control" id="id" name="id" readonly required [(ngModel)]="product.id">
    </div>

    <div class="form-group">
      <label for="title">Nombre</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Nombre del producto" required [(ngModel)]="product.title">
    </div>

    <div class="form-group">
      <label for="price">Precio</label>
      <input type="number" step="0.01" class="form-control" id="price" name="price" placeholder="0.0" required [(ngModel)]="product.price">
    </div>

    <div class="form-group">
      <label for="idcategory">Categoría</label>
      <select id="idcategory" class="form-control" name="idcategory" required [(ngModel)]="product.idcategory">
        <option selected disabled value="0">Seleccione Categoría</option>
        <option *ngFor="let category of categories" [value]="category.idcategory">{{category.nombre}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea name="description" id="description" class="form-control" placeholder="Ingrese descripción" required [(ngModel)]="product.description"></textarea>
    </div>

    <div class="form-group">
      <label for="image">Imagen</label>
      <input type="text" class="form-control" id="image" name="image" placeholder="Ingrese Url" required [(ngModel)]="product.image">
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-secondary" routerLink="/productList">Regresar</button>
    </div>
  </form>
</div>
