.mat-mdc-card{
  margin-top: 2rem;
}

.header-text{
  font-size: 1.7rem;
}

.body-text{
  font-size: 1.5rem;
}

.footer-text{
  font-size: 1.5rem;
  border-top: solid black;
  border-top-width: thin;
}

.img-150{
  width: 150px;
}

.width-truncate{
  max-width: 320px;
}

.quantity-box{
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.btn-text{
  font-size: 1.7rem;
  font-weight: 500;
  max-width: 350px;
}

.close-icon {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.empty-car-msg-container{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.empty-car-msg-container p{
  font-family: "Urbanist", sans-serif;
  margin-top: 10px;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}
