<section id="information-section">
  <div class="information-right">
    <div class="information-right-img">
      <img src="https://i.imgur.com/gIG2Pbu.png" />
    </div>
    <div class="information-right-text">
      <h1 class="information-right-title">Nuestra Historia</h1>
      <p class="information-right-paragraph">
        En un mundo cada vez más digitalizado, donde el trabajo remoto y la
        urbanización están en constante crecimiento, vimos una necesidad clara:
        la falta de un proveedor especializado en periféricos de computadora que
        ofrezca productos de alta calidad y sostenibles. Así nació nuestro
        e-commerce de periféricos, con la misión de satisfacer esta demanda
        creciente. Comenzamos como un pequeño grupo de entusiastas de la
        tecnología con la visión de crear una tienda en línea que no solo
        ofrezca los mejores productos, sino que también promueva un consumo
        responsable y consciente. Desde nuestros inicios, nos hemos comprometido
        a ofrecer una amplia variedad de periféricos que se adapten a las
        necesidades de cada usuario, desde profesionales hasta gamers, siempre
        asegurando la eficiencia energética y la sostenibilidad de nuestros
        productos. Hoy, somos un referente en el mercado peruano, conectando a
        nuestros clientes con las mejores soluciones tecnológicas del mercado.
      </p>
    </div>
  </div>
  <div class="information-right">
    <div class="information-right-text">
      <h1 class="information-right-title">Misión</h1>
      <p class="information-right-paragraph">
        Nuestra misión en +MMR es proporcionar a nuestros clientes los mejores periféricos para computadora del mercado, seleccionados por su rendimiento, durabilidad y capacidad de mejorar la experiencia de uso en gaming, trabajo y estudios. Nos dedicamos a ofrecer un servicio excepcional, asegurando que cada cliente encuentre el producto perfecto que se adapte a sus necesidades específicas. En +MMR, nos esforzamos por superar las expectativas de nuestros clientes a través de una atención personalizada y una oferta diversa de marcas líderes, promoviendo así una experiencia de compra satisfactoria y confiable.
      </p>
    </div>
    <div class="information-right-text">
      <h1 class="information-right-title">Visión</h1>
      <p class="information-right-paragraph">
        Nuestra visión en +MMR es convertirnos en la tienda líder de periféricos para computadora, reconocida por ofrecer productos de la más alta calidad que mejoren significativamente la experiencia de nuestros clientes en el gaming, trabajo y estudio. Aspiramos a ser la referencia en innovación y servicio al cliente, proporcionando soluciones tecnológicas que potencien el rendimiento y la satisfacción de nuestros usuarios. Nos comprometemos a mantenernos a la vanguardia del sector, adaptándonos a las necesidades cambiantes del mercado y promoviendo una cultura de excelencia y confianza.
      </p>
    </div>
  </div>
</section>

<app-footer></app-footer>
