/*Sección información*/

#information-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.information-right {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.information-right-title{
  font-weight: 600;
  font-size: 3rem;
  position: relative;
  z-index: 1;
}

.information-right-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  font-size: 1.75rem;
  padding: 2rem 15px 2rem 15px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-color: #eeebeb;
  box-shadow: 0 0 10px var(--background-dark-gray);
  overflow: hidden;
  transition: 0.5s;
}

.information-right-text:hover{
  transform: scale(1.05);
}

.information-right-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: 0;
}

.information-right-paragraph{
  font-weight: 400;
  text-align: center;
  position: relative;
  z-index: 1;
}

.information-right-img{
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 48%;
  background: var(--background-menu-purple);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--background-dark-gray);
  transition: 0.5s;
}

.information-right-img:hover{
  transform: scale(1.05);
}

.information-right-img img {
  width: 100%;
  height: auto;
}

.information-nosotros {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.information-nosotros-title{
  font-weight: 600;
  font-size: 3rem;
  position: relative;
  z-index: 1;
}

.information-nosotros-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  font-size: 1.75rem;
  padding: 2rem 15px 2rem 15px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--background-dark-gray);
  overflow: hidden;
  transition: 0.5s;
}

.information-nosotros-text:hover{
  transform: scale(1.05);
}

.information-nosotros-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: 0;
}

.information-nosotros-paragraph{
  font-weight: 400;
  text-align: center;
  position: relative;
  z-index: 1;
}

.information-nosotros-img{
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 48%;
  background: var(--background-menu-purple);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--background-dark-gray);
  transition: 0.5s;
}

.information-nosotros-img:hover{
  transform: scale(1.05);
}

.information-nosotros-img img {
  width: 100%;
  height: auto;
}

.information-mision-vision {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.information-m-v-title{
  font-weight: 600;
  font-size: 3rem;
  position: relative;
  z-index: 1;
}

.information-m-v-paragraph{
  font-weight: 400;
  text-align: center;
  position: relative;
  z-index: 1;
}

.information-m-v-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  font-size: 1.75rem;
  padding: 2rem 15px 2rem 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--background-dark-gray);
  overflow: hidden;
  transition: 0.5s;
}

.information-m-v-text:hover{
  transform: scale(1.05);
}

.information-m-v-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: 0;
}

.information-mision{

  background-size: cover;
  background-position: center;
}

.information-vision {

  background-size: cover;
  background-position: center;
}
